/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Generic Styles */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

main {
    background: #f5ecec;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', serif;
}

p {
    line-height: 1.5;
}

/* Grid */

.container {
    max-width: 1340px;
    margin: 0 auto;
    overflow: hidden;
}

/* Panels */

.panel {
    position: relative;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    padding: 40px 20px;
    overflow: hidden;
    margin: 40px 0;
    border-top: 3px solid;
}

@media only screen and (min-width: 1200px)  {
    .panel {
        width: 75%;
        padding: 80px;
    }
    .panel:nth-child(even) {
        margin-left: 25%;
    }
}

@media only screen and (min-width: 600px)  {
    .panel {
        padding: 80px 40px;
        margin: 80px 0;
    }
}

.panel .panel-head .underline {
    position: relative;
    top: -10px;
    margin-bottom: -10px;
}

    /* Intro Panel */

    .panel#panel-intro {
        width: 100%;
        text-align: center;
        border-top: none;
    }

        /* Signature */

        .panel#panel-intro .panel-head .signature-wrapper {
            display: block;
            margin-top: 30px;
        }

        /* Animation */
        /* Source: https://codepen.io/equinusocio/pen/KNYOxJ */

        .panel#panel-intro .panel-head .signature {
            display: inline-block;
            position: relative;
            font-size: 1.4em;
            font-family: 'Kaushan Script', serif;
            padding: 10px 0;
            --animation-delay: var(--delay, 400ms);
            --animation-duration: var(--duration, 800ms);
            --animation-iterations: var(--iterations, 1);
            animation-name: clip-text;
        }

        @media only screen and (min-width: 900px)  {
            .panel#panel-intro .panel-head .signature {
                font-size: 2em;
                white-space: nowrap;
                padding: 10px 40px;
            }
        }

        @media only screen and (min-width: 400px)  {
            .panel#panel-intro .panel-head .signature {
                font-size: 1.6em;
                padding: 10px 20px;
            }
        }
        
        .panel#panel-intro .panel-head .signature,
        .panel#panel-intro .panel-head .signature::after {
            animation-delay: var(--animation-delay, 2s);
            animation-iteration-count: var(--iterations, 1);
            animation-duration: var(--duration, 800ms);
            animation-fill-mode: both;
            animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
        }
    
        .panel#panel-intro .panel-head .signature::after {
            content: "";
            position: absolute;
            z-index: 999;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            transform: scaleX(0);
            transform-origin: 0 50%;
            pointer-events: none;
            animation-name: text-revealer;
        }
    
        @keyframes clip-text {
            from {
                clip-path: inset(0 100% 0 0);
            }
            to {
                clip-path: inset(0 0 0 0);
            }
        }
        
        @keyframes text-revealer {
            0%, 50% {
                transform-origin: 0 50%;
            }
            60%, 100% {
                transform-origin: 100% 50%;		
            }
            60% {
                transform: scaleX(1);
            }
            100% {
                transform: scaleX(0);
            }
        }

    .panel#panel-intro .panel-subhead {
        margin-top: 60px;
    }

    .panel#panel-intro .panel-subhead .text-germany {
        background: linear-gradient(-190deg, black 33.3%, red 33.3%, red 66.6%, gold 66.6%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;      
    }

    /* About Panel */

/* Footer */

footer {
    text-align: center;
    padding: 40px 0;
}